@import url('https://fonts.googleapis.com/css2?family=Overpass:ital,wght@0,100..900;1,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    -moz-text-size-adjust: none;
    -webkit-text-size-adjust: none;
    text-size-adjust: none;
}

h1,
h2,
h3,
h4,
button,
input,
label {
    line-height: 1.2;
    text-wrap: balance;
}

p {
    text-wrap: pretty;
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
    height: auto;
}

:root {
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.rating {
    @apply flex items-center justify-center text-center 
    w-12 h-12 rounded-full bg-very-dark-blue-gradient 
    transition-all duration-200 ease-in-out hover:text-white hover:bg-medium-grey;
}

.rating.active {
    @apply text-white bg-orange;
}

.header {
    @apply text-3xl text-white font-bold 
    tracking-tight leading-none pt-7 pb-4;
}
